<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/global.css" />
    <link rel="stylesheet" href="/static/styles/blogPage.css" />
    <link rel="stylesheet" href="/static/styles/header.css" />
    <title>Blog | Fawaz Sullia</title>
</head>
<body>
    <header id="header">
        <p id="logo" class="fn-pp"><a href="/">Fawaz Sullia</a></p>
          <nav id="nav" class="fn-rb">
            <li><a href="/">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/pre-chat">Chat</a></li>
          </nav>
        </header>
        <h2>Blog posts</h2>
    <section id="posts">

    </section>
    <script src="/static/scripts/blogPage.js"></script>
</body>
</html>