<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/global.css" />
    <link rel="stylesheet" href="/static/styles/chatroom.css" />
    <link rel="stylesheet" href="/static/styles/header.css" />
    <title>Chatroom</title>
</head>
<body>
    <header id="header">
        <p id="logo" class="fn-pp">Fawaz Sullia</p>
        <nav id="nav" class="fn-rb">
          <li><a href="/">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/pre-chat">Chat</a></li>
        </nav>
      </header>
      <section id="container">
        <div id="chats">

        </div>
        <input id="msg" type="text">
        <button id="btn" type="button">Send</button>
      </section> 
      <script src="/static/scripts/chatroom.js" type="module"></script>
</body>
</html>