
        <main>
            <section id="heading">
            <h2>Hi. I'm Fawaz Sullia</h2>
            <p>I'm a full-stack web developer</p>
            <ul id="social-icons">
                <li><a href="https://www.linkedin.com/in/fawazsullia/" target="_blank"><img class="logo" src="/static/images/linkedin-logo.png" /></a></li>
                <li><a href="https://github.com/fawazsullia" target="_blank"><img class="logo" src="/static/images/github-logo.png" /></a></li>
                <li><a href="mailto:fawazsullia@gmail.com" target="_blank"><img class="logo" src="/static/images/gmail-logo.png" /></a></li>
            </ul>
            </section>

            <section id="content">
                <p>I'm a passionate software developer working mainly with javascript and it's frameworks. I have a background
                    in mechanical engineering and enjoy solving complex problems. My aim is to be a highly capable software engineer,
                    with the ability to solve problems that bring about a positive impact in the world. One of my other goals is to 
                    have a team of devs building open source softwares. 
                </p><br>
                <p>In addition to tech stuff, I like everything related to nature - camping, hiking, fishing etc. My recent
                    obsession is binging on homestead videos. I also love the horror genre.
                </p><br>
                <p>I'm currently looking for a junior full-stack or back-end web developer role where I can learn and grow with the company.</p>
                <br>
                <p>You can send me an email at <span id="email-id">fawazsullia@gmail.com</span></p>

            </section>
        </main>
        <script src="/static/scripts/index.js"></script>
</body>
</html>