<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/global.css" />
    <link rel="stylesheet" href="/static/styles/projects.css" />
    <link rel="stylesheet" href="/static/styles/header.css" />

    <title>Projects | Fawaz Sullia</title>
  </head>
  <body>
    <header id="header">
      <p id="logo" class="fn-pp">Fawaz Sullia</p>
      <nav id="nav" class="fn-rb">
        <li><a href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/chatroom">Chat</a></li>
      </nav>
    </header>

    <h2 id="heading">Projects I've worked on</h2>
    <section id="container">
      <!-- medically -->
      <a href="https://github.com/fawazsullia/medically" target="_blank">
        <div id="medically">
          <p class="project-heading">Medically - Central patient database</p>
          <p>
            An app built with <strong>react</strong>, <strong>node</strong> and
            <strong>mongodb</strong> that stores all patient records and lets
            doctors access them to better understand their patients and have an
            overview of their medical history.
          </p>
        </div>
      </a>
      <!-- end -->

      <br />
      <hr />
      <br />

      <!-- bazaar -->
      <a href="https://github.com/fawazsullia/bazaar" target="_blank">
        <div id="bazaar">
          <p class="project-heading">Bazaar - Minimal Demo Ecomm App</p>
          <p>
            A minimal e-commerce app built using <strong>react</strong>, <strong>redux</strong> and <strong>firebase</strong> for authentication.
            App has minimum features such as filter, addtocart, change cart, place order etc.
            The app uses fake store api and has a node backend + mongodb to persist usere data.
          </p>
        </div>
      </a>
      <!-- end -->

      <br />
      <hr />
      <br />

      <!-- Express analytics -->
      <a href="https://github.com/fawazsullia/express-analytics" target="_blank">
        <div id="express-analytics">
          <p class="project-heading">Express Analytics</p>
          <p>
            Express analytics is an <strong>express middleware</strong> that lets you track visitors when they visit your
            site. The middleware does not add cookies to the client but uses their ip to ananymously track hits, unique hits,
            country, region, time zone etc. I'm still working on this and will add more features eventually. 
            The npm package is available on npm directory as well.
          </p>
        </div>
      </a>
      <!-- end -->

      <br />
      <hr />
      <br />

      <!-- Vahem -->
      <a href="https://github.com/fawazsullia/vahem" target="_blank">
        <div id="vahem">
          <p class="project-heading">Vahem</p>
          <p>
Vahem is a lodash like <strong>npm library</strong> that makes it easy for you to write code. The library lets you import 
functions that do some frequent and annoying tasks. I created this library for myself when I noticed myself
being bored with tasks like validation.
The library is still incomplete and has functions like validations, random generator, data formatter and array methods.
Feel free to contribute and use this.
Built with <strong>node js and typescript</strong>. 
          </p>
        </div>
      </a>
      <!-- end -->

    </section>
  </body>
</html>
