#chats{
height: 50vh;
overflow-y: auto;
}

#msg{
outline: none;
width: 30vw;
height: 30px;
padding-left: 10px;

}

#btn{
height: 30px;
width: 80px;
display: block;
margin-top: 20px;
border: none;
outline: none;
background-color: blueviolet;
color: white;
font-weight: 600;
}

#btn:hover{
    cursor: pointer;
}

#container{
width: 50%;
margin: 100px auto auto auto;
}

