
    <section class="title">
<h1>Build a Password Generator API on Nodejs</h1>
    </section>

    <section class="post">
        <p>Some sites auto generate complex passwords during user signup.</p>
<p>I found this cool and wanted to try building a similar feature.</p>
<p>Instead of turning it into an app, I decided to create a public API, so that anyone could use this in their applications.</p>
<h3 id="features-">Features:</h3>
<ol>
<li>The password by default should have only lower case letters.</li>
<li>Users can select if they want to add uppercase letters, numbers and characters to it.</li>
<li>Users can select the password length</li>
<li>Password should be random with no predictable pattern</li>
</ol>
<p>So grab your popcorns, this is going to be a detailed one.</p>
<p>For you all super curious folks out there, here&#39;s the <a href="https://github.com/fawazsullia/password-generator">link</a> :)</p>
<p>Now, on with the tutorial.</p>
<h3 id="tech-requirements">Tech requirements</h3>
<ul>
<li>Nodejs installed</li>
<li>Express js</li>
<li>Cors</li>
<li>dotenv</li>
</ul>
<h2 id="the-usual-server-stuff">The usual server stuff</h2>
<ul>
<li>Create an empty package.json file inside the directory with npm init</li>
<li>Next, install dependencies.</li>
</ul>
<p>We need express to handle the routes, cors to allow cross-origin access and dotenv to access our environment variables.</p>
<ul>
<li><code>npm i express dotenv cors</code></li>
</ul>
<p>Require all the dependencies and your index.js should look like this:</p>
<pre><code><span class="hljs-keyword">const</span> express = require(<span class="hljs-string">'express'</span>);

<span class="hljs-keyword">const</span> app = express();

<span class="hljs-keyword">const</span> cors = require(<span class="hljs-string">'cors'</span>);

dotenv.configure();

<span class="hljs-comment">//Defining port</span>

<span class="hljs-keyword">const</span> PORT = <span class="hljs-built_in">process</span>.env.PORT | <span class="hljs-number">5000</span>;

<span class="hljs-comment">//listen to the server event on PORT</span>

app.<span class="hljs-built_in">listen</span>(PORT)

<span class="hljs-comment">//Add routes</span>

app.<span class="hljs-built_in">get</span>(<span class="hljs-string">'/generate'</span>, (req, res) =&gt; {
<span class="hljs-comment">//we will come back here later</span>
}
</code></pre><h2 id="the-password-generating-algorithm">The password generating algorithm</h2>
<p>To avoid cluttering, we&#39;ll write the main algorithm in a separate file.</p>
<p>Go ahead. Create a file and name it whatever you want.</p>
<p>I’ll create a wrapper function ( generate-password ) and then export it. This function takes in 4 parameters and will return us the password.</p>
<h3 id="parameters-">Parameters:</h3>
<ul>
<li>Length of password (default 8)</li>
<li>Caps required (default false)</li>
<li>Number required (default false)</li>
<li>Special character required ( default false )</li>
</ul>
<p>Inside this function, I’ll create 4 different functions that generates lower case, upper case, number and a special character respectively. We will use these functions later.</p>
<pre><code><span class="hljs-comment">//generate number</span>

<span class="hljs-keyword">let</span> generateNumber = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> {
<span class="hljs-keyword">let</span> number = <span class="hljs-built_in">Math</span>.floor(<span class="hljs-number">9</span>*<span class="hljs-built_in">Math</span>.random());
<span class="hljs-keyword">return</span> number.toString();
};

<span class="hljs-comment">//generate a special character</span>

<span class="hljs-keyword">let</span> generateChar = <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> {
<span class="hljs-keyword">const</span> charArray = [<span class="hljs-number">64</span>, <span class="hljs-number">38</span>, <span class="hljs-number">35</span>, <span class="hljs-number">37</span>, <span class="hljs-number">36</span>, <span class="hljs-number">42</span>, <span class="hljs-number">43</span>];
<span class="hljs-keyword">let</span> index = <span class="hljs-built_in">Math</span>.floor(<span class="hljs-number">7</span>*<span class="hljs-built_in">Math</span>.random());
<span class="hljs-keyword">return</span> <span class="hljs-built_in">String</span>.fromCharCode(charArray[index]);
};

<span class="hljs-comment">//generate capital letters</span>

<span class="hljs-keyword">let</span> generateCaps = <span class="hljs-function"><span class="hljs-params">()</span>=&gt;</span>{
<span class="hljs-keyword">return</span> <span class="hljs-built_in">String</span>.fromCharCode(<span class="hljs-built_in">Math</span>.floor(<span class="hljs-number">25</span> * <span class="hljs-built_in">Math</span>.random() + <span class="hljs-number">65</span>));
};

<span class="hljs-comment">//generate small case letters</span>

<span class="hljs-keyword">let</span> generateSMall = <span class="hljs-function"><span class="hljs-params">()</span>=&gt;</span>{
<span class="hljs-keyword">return</span> <span class="hljs-built_in">String</span>.fromCharCode(<span class="hljs-built_in">Math</span>.floor(<span class="hljs-number">25</span> * <span class="hljs-built_in">Math</span>.random() + <span class="hljs-number">97</span>))
};
</code></pre><p>Now, to generate the whole password, we create a new function that takes in the length of the password required as the parameter.</p>
<p>Next, create a global array and set it to empty. We will push the password into this.</p>
<p>We will set the max-number of upper-case letters or special characters or numbers to (password-length)/3. The rest would be small case alphabets.</p>
<p>The password will contain numbers, uppercase letters or special chars only if the users specify it, if not we go with the default false.</p>
<p>Let&#39;s create 3 if statements. These will push number, sp.char or uppercase to the password array, depending on the wrapper function parameters.</p>
<pre><code><span class="hljs-comment">//generate the whole pass</span>

let generate = (len) =&gt; {

let turn = Math.floor(len/<span class="hljs-number">3</span>);
var <span class="hljs-built_in">rem</span> = len;

<span class="hljs-keyword">if</span>(charRequired){
  let temp = Math.floor(turn * Math.random() + <span class="hljs-number">1</span>);
  <span class="hljs-keyword">for</span>(i=<span class="hljs-number">0</span>; i&lt;temp; i++){
    passwordArray.push(generateChar());
    }
<span class="">  rem = rem - temp;</span>
}

<span class="hljs-keyword">if</span>(numRequired){
  let temp = Math.floor(turn * Math.random() + <span class="hljs-number">1</span>);
  <span class="hljs-keyword">for</span>(i=<span class="hljs-number">0</span>; i&lt;temp; i++){
    passwordArray.push(generateNumber());
    }
<span class="">  rem = rem - temp;</span>
}

<span class="hljs-keyword">if</span>(capsRequired){
  let temp = Math.floor(turn * Math.random() + <span class="hljs-number">1</span>);
  <span class="hljs-keyword">for</span>(i=<span class="hljs-number">0</span>; i&lt;temp; i++){
    passwordArray.push(generateCaps());
    }
<span class="">  rem = rem - temp;</span>
}

<span class="hljs-keyword">for</span>(i=<span class="hljs-number">0</span>; i&lt;<span class="hljs-built_in">rem</span>; i++){
  passwordArray.push(generateSMall());
  }

return passwordArray;

};
</code></pre><p>Note that, we just only set the upper limit of the type of character pushed to the password array. The actual value is decided by the Math.random() method.</p>
<p>This pretty much gives us the password, but it&#39;s not random enough. Look closely, there&#39;s a pattern. The password will always have sp.char, number, uppercase and lowercase in the same order.</p>
<p>Let’s add one more layer of randomness to it.</p>
<p>I made use of a standard shuffling algo to jumble the array.</p>
<pre><code>
<span class="hljs-comment">//shuffle Array</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">shuffleArray</span>(<span class="hljs-params">arr</span>)</span>{
<span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = arr.length - <span class="hljs-number">1</span>; i &gt; <span class="hljs-number">0</span>; i--) {
<span class="hljs-keyword">let</span> j = <span class="hljs-built_in">Math</span>.floor(<span class="hljs-built_in">Math</span>.random() \* (i + <span class="hljs-number">1</span>));
<span class="hljs-keyword">var</span> temp = arr[i];
arr[i] = arr[j];
arr[j] = temp;
}
<span class="hljs-keyword">return</span> arr;
}
</code></pre><p>We then convert this into string with <code>array.join()</code> and return it.</p>
<h3 id="back-to-index-js">Back to index.js</h3>
<p>Let’s add a basic routing.</p>
<p>I’m using a get method on the “/generate” route.</p>
<p>Remember that we had 4 parameters for the password generating function? We get values to that using query parameters.</p>
<p>Destructure caps, num, char, len from req.parameters object.</p>
<p>Invoke the function with the above password and send the password generated.</p>
<pre><code>
app<span class="hljs-variable">.get</span>('/<span class="hljs-keyword">generate</span>', cors(), (req, res)=&gt;{

<span class="hljs-keyword">let</span> {caps, num, char, len} = req<span class="hljs-variable">.query</span>;

<span class="hljs-keyword">let</span> passtoSend = password(num, char, len, caps);
res<span class="hljs-variable">.status</span>(<span class="hljs-number">200</span>)<span class="hljs-variable">.json</span>({ data : passtoSend})<span class="hljs-variable">.end</span>();
});
</code></pre><p>That’s all.</p>
<p>The API we just built is accessible at baseURL/generate</p>
<p>You can add query parameters for additional complexity.</p>
<h2 id="what-next-">What next?</h2>
<p>You can either build a similar backend API or a front end that fetches this API to generate passwords for users.</p>
<p>You can read about accessing the API <a href="https://github.com/fawazsullia/password-generator">here</a>.</p>
<p>If you found this useful, consider connecting with me on <a href="https://www.twitter.com/realfawazsullia">twitter</a>.</p>
<p>See you in the next one!</p>

    </section>
    
</body>
</html>